<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Danh sách sản phẩm</title>
	<link href="./assets/user/css/master.css" rel="stylesheet">
	<!--[if lt IE 9]>
			<script src="js/html5shiv-3.7.0.js"></script>
			<script src="js/respond-1.4.2.js"></script>
		<![endif]-->
</head>

<body class="noIE inner-page ">
	<!-- HEADER -->
	<header id="main-header">
		<div id="cd-nav" class="is-fixed">
            <a href="#0" class="cd-nav-trigger">Menu
                <span></span>
            </a>
            <nav id="cd-main-nav">

                <ul class="has-transitions">
                    <h1 style="font-family: all;">Hello Jane Doe</h1>
                    <li>
                        <a href="thong_tin_ca_nhan.html">
                            <span style="font-family: all;">Thông tin cá nhân</span>
                        </a>
                    </li>
                    <li>
                        <a href="gio_hang.html">
                            <span style="font-family: all;">Giỏ hàng</span>
                        </a>
                    </li>
                    <li>
                        <a href="danh_sach_don_hang.html">
                            <span style="font-family: all;">Lịch sử mua hàng</span>
                        </a>
                    </li>
                    <li>
                        <a href="kq_tim_kiem.html">
                            <span style="font-family: all;">Tìm kiếm</span>

                        </a>
                    </li>
                </ul>
            </nav>
        </div>
		<div id="cd-nav">
			<nav id="cd-main-nav">
				<ul>
					<li class="active">
						<a href="ds.html">
							<span>Sedan</span>
						</a>
					</li>
					<li>
						<a href="ds.html">
							<span>Hatchback</span>
						</a>
					</li>
					<li>
						<a href="ds.html">
							<span>SUV</span>
						</a>
					</li>
					<li>
						<a href="ds.html">
							<span>MPV/Minivan</span>
						</a>
					</li>
					<li>
						<a href="ds.html">
							<span>Coupe</span>
						</a>
					</li>
					<li>
						<a href="ds.html">
							<span>Convertible</span>
						</a>
					</li>
					<li>
						<a href="ds.html">
							<span>Pickup</span>
						</a>
					</li>
				</ul>
			</nav>
		</div>
		<div class="container ">
			<div class="row">
				<div class="col-md-3 spacer"> </div>
				<div class="col-md-6">
					<!-- NAVIGATION -->
					<div class="navbar navbar-default navbar-top ">
						<div class="navbar-collapse">
							<ul class="nav navbar-nav nav-justified">
								<li>
									<a href="./index-logined.html">
										<span>HOME</span>
									</a>
								</li>
								<li>
									<a href="#">
										<span>ABOUT</span>
									</a>
								</li>
								<li>
									<a href="#">
										<span>CONTACT</span>
									</a>
								</li>
								<li>
									<a href="./index.html">
										<span>LOGOUT</span>
									</a>
								</li>
								<li>
									<a href="./signup.html">
										<span>SIGNUP</span>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<!-- LOGO -->
					<div id="logo">
						<span class="bglogo1 transform-please-2">
							<a href="index.html">
								<img src="./assets/user/img/logo.png" alt="logo" />
							</a>
						</span>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<nav id="main-nav">
				<div class="row">
					<div class="col-md-12">
						<!-- NAVIGATION -->
						<div class="navbar navbar-default" role="navigation">
							<div class="navbar-header"> </div>
							<div class="navbar-collapse collapse">
								<ul class="nav navbar-nav nav-justified">
									<li class="active">
										<a href="ds.html">
											<span>Sedan</span>
										</a>
									</li>
									<li>
										<a href="ds.html">
											<span>Hatchback</span>
										</a>
									</li>
									<li>
										<a href="ds.html">
											<span>MPV/Minivan</span>
										</a>
									</li>
									<li>
										<a href="ds.html">
											<span>Coupe</span>
										</a>
									</li>
								</ul>
							</div>
							<div class="mini-search-top">
									<form class="form-mini-search" >
										<a href="./kq_tim_kiem.html" class="arrow-link submit-link"> <span class="icon-transform transform-please"><i class="fa fa-search"></i></span></a>
									</form>
								</div>
						</div>
					</div>
				</div>
			</nav>
		</div>
	</header>
	<!-- HEADER END -->
	<!-- SECTION -->
	<div class="brandslider bg-overlay overlay-bot">
		<div class="container">
			<div class="row">
				<ul>
					<li>
						<a href="ds.html">
							<img src="./assets/user/media/brand/1.png" alt="brand" />
						</a>
					</li>
					<li>
						<a href="ds.html">
							<img src="./assets/user/media/brand/2.png" alt="brand" />
						</a>
					</li>
					<li>
						<a href="ds.html">
							<img src="./assets/user/media/brand/3.png" alt="brand" />
						</a>
					</li>
					<li>
						<a href="ds.html">
							<img src="./assets/user/media/brand/4.png" alt="brand" />
						</a>
					</li>
					<li>
						<a href="ds.html">
							<img src="./assets/user/media/brand/5.png" alt="brand" />
						</a>
					</li>
					<li>
						<a href="ds.html">
							<img src="./assets/user/media/brand/6.png" alt="brand" />
						</a>
					</li>
					<li>
						<a href="ds.html">
							<img src="./assets/user/media/brand/7.png" alt="brand" />
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- END -->
	<main id="main" class="section">
		<div class="container">
			<div class="row">
				<section class="carousel carousel-reviews">
					<div class="carousel-title ">
						<div class="transform-please-2 ">
							<span style="font-family: all;">DANH SÁCH SẢN PHẨM</span>
						</div>
					</div>
					<ul class="carousel-1">
						<li>
							<div class="media">
								<a href="xemchitiet_logined.html">
									<img src="./assets/user/media/section3/1.jpg" width="369" height="200" alt="alt" />
								</a>
								<div class="carousel-item-content">
									<div class="text-right">
										<a class="arrow-link" href="#"></a>
									</div>
									<a class="transform-please-2 carousel-title">
										<span>SED MOLESTIE FEUGIAT LECTUS</span>
									</a>
								</div>
							</div>
							<div class="carousel-text"></div>
							<div class="product-box">
								<a style="font-size: 28px; color:black">
									<span>$32.690</span>
								</a>
								<a href="gio_hang.html" class="btn btn-danger ">
									<i class="fa fa-shopping-cart"></i>
									<span>Add to cart</span>
								</a>
							</div>
						</li>
						<li>
							<div class="media">
								<a href="xemchitiet_logined.html">
									<img src="./assets/user/media/section3/2.jpg" width="369" height="200" alt="alt" />
								</a>
								<div class="carousel-item-content">
									<div class="text-right">
										<a class="arrow-link" href="#"> </a>
									</div>
									<a class="transform-please-2 carousel-title">
										<span>SED MOLESTIE FEUGIAT LECTUS</span>
									</a>
								</div>
							</div>
							<div class="carousel-text"></div>
							<div class="product-box">
								<a style="font-size: 28px; color:black">
									<span>$32.690</span>
								</a>
								<a href="gio_hang.html" class="btn btn-danger ">
									<i class="fa fa-shopping-cart"></i>
									<span>Add to cart</span>
								</a>
							</div>
						</li>
						<li>
							<div class="media">
								<a href="xemchitiet_logined.html">
									<img src="./assets/user/media/section3/3.jpg" width="369" height="200" alt="alt" />
								</a>
								<div class="carousel-item-content">
									<div class="text-right">
										<a class="arrow-link" href="#"></a>
									</div>
									<a class="transform-please-2 carousel-title">
										<span>SED MOLESTIE FEUGIAT LECTUS</span>
									</a>
								</div>
							</div>
							<div class="carousel-text"></div>
							<div class="product-box">
								<a style="font-size: 28px; color:black">
									<span>$32.690</span>
								</a>
								<a href="gio_hang.html" class="btn btn-danger ">
									<i class="fa fa-shopping-cart"></i>
									<span>Add to cart</span>
								</a>
							</div>
						</li>
					</ul>
					<br>
					<ul class="carousel-1">
						<li>
							<div class="media">
								<a href="xemchitiet_logined.html">
									<img src="./img/coupe/2016-alfa-romeo-4c-base-coupe-angular-front.png" width="369" height="200" alt="alt" />
								</a>
								<div class="carousel-item-content">
									<div class="text-right">
										<a class="arrow-link" href="#"></a>
									</div>
									<a class="transform-please-2 carousel-title">
										<span>SED MOLESTIE FEUGIAT LECTUS</span>
									</a>
								</div>
							</div>
							<div class="carousel-text"></div>
							<div class="product-box">
								<a style="font-size: 28px; color:black">
									<span>$32.690</span>
								</a>
								<a href="gio_hang.html" class="btn btn-danger ">
									<i class="fa fa-shopping-cart"></i>
									<span>Add to cart</span>
								</a>
							</div>
						</li>
						<li>
							<div class="media">
								<a href="xemchitiet_logined.html">
									<img src="./img/coupe/2016_jaguar_f-type_coupe_s_fq_oem_1_1280.jpg" width="369" height="200" alt="alt" />
								</a>
								<div class="carousel-item-content">
									<div class="text-right">
										<a class="arrow-link" href="#"> </a>
									</div>
									<a class="transform-please-2 carousel-title">
										<span>SED MOLESTIE FEUGIAT LECTUS</span>
									</a>
								</div>
							</div>
							<div class="carousel-text"></div>
							<div class="product-box">
								<a style="font-size: 28px; color:black">
									<span>$32.690</span>
								</a>
								<a href="gio_hang.html" class="btn btn-danger ">
									<i class="fa fa-shopping-cart"></i>
									<span>Add to cart</span>
								</a>
							</div>
						</li>
						<li>
							<div class="media">
								<a href="xemchitiet_logined.html">
									<img src="./img/coupe/2018-Alfa-Romeo-4C-Spider-review-photos-AutoNation.jpg" width="369" height="200" alt="alt" />
								</a>
								<div class="carousel-item-content">
									<div class="text-right">
										<a class="arrow-link" href="#"></a>
									</div>
									<a class="transform-please-2 carousel-title">
										<span>SED MOLESTIE FEUGIAT LECTUS</span>
									</a>
								</div>
							</div>
							<div class="carousel-text"></div>
							<div class="product-box">
								<a style="font-size: 28px; color:black">
									<span>$32.690</span>
								</a>
								<a href="gio_hang.html" class="btn btn-danger ">
									<i class="fa fa-shopping-cart"></i>
									<span>Add to cart</span>
								</a>
							</div>
						</li>
					</ul>
					<br>
					<ul class="carousel-1">
						<li>
							<div class="media">
								<a href="xemchitiet_logined.html">
									<img src="./img/coupe/2018-Audi-TT-RS-Coupe-front-three-quarter.jpg" width="369" height="200" alt="alt" />
								</a>
								<div class="carousel-item-content">
									<div class="text-right">
										<a class="arrow-link" href="#"></a>
									</div>
									<a class="transform-please-2 carousel-title">
										<span>SED MOLESTIE FEUGIAT LECTUS</span>
									</a>
								</div>
							</div>
							<div class="carousel-text"></div>
							<div class="product-box">
								<a style="font-size: 28px; color:black">
									<span>$32.690</span>
								</a>
								<a href="gio_hang.html" class="btn btn-danger ">
									<i class="fa fa-shopping-cart"></i>
									<span>Add to cart</span>
								</a>
							</div>
						</li>
						<li>
							<div class="media">
								<a href="xemchitiet_logined.html">
									<img src="./img/coupe/2018-S-COUPE-GALLERY-001-SET-R-WP.jpg" width="369" height="200" alt="alt" />
								</a>
								<div class="carousel-item-content">
									<div class="text-right">
										<a class="arrow-link" href="#"> </a>
									</div>
									<a class="transform-please-2 carousel-title">
										<span>SED MOLESTIE FEUGIAT LECTUS</span>
									</a>
								</div>
							</div>
							<div class="carousel-text"></div>
							<div class="product-box">
								<a style="font-size: 28px; color:black">
									<span>$32.690</span>
								</a>
								<a href="gio_hang.html" class="btn btn-danger ">
									<i class="fa fa-shopping-cart"></i>
									<span>Add to cart</span>
								</a>
							</div>
						</li>
						<li>
							<div class="media">
								<a href="xemchitiet_logined.html">
									<img src="./img/coupe/bentley_genesis_coupe_30800_1280_813.jpg" width="369" height="200" alt="alt" />
								</a>
								<div class="carousel-item-content">
									<div class="text-right">
										<a class="arrow-link" href="#"></a>
									</div>
									<a class="transform-please-2 carousel-title">
										<span>SED MOLESTIE FEUGIAT LECTUS</span>
									</a>
								</div>
							</div>
							<div class="carousel-text"></div>
							<div class="product-box">
								<a style="font-size: 28px; color:black">
									<span>$32.690</span>
								</a>
								<a href="gio_hang.html" class="btn btn-danger ">
									<i class="fa fa-shopping-cart"></i>
									<span>Add to cart</span>
								</a>
							</div>
						</li>
					</ul>
					<ul class="carousel-1">
						<li>
							<div class="media">
								<a href="xemchitiet_logined.html">
									<img src="./img/coupe/bmw-2-series-gran-coupe-rendering.jpg" width="369" height="200" alt="alt" />
								</a>
								<div class="carousel-item-content">
									<div class="text-right">
										<a class="arrow-link" href="#"></a>
									</div>
									<a class="transform-please-2 carousel-title">
										<span>SED MOLESTIE FEUGIAT LECTUS</span>
									</a>
								</div>
							</div>
							<div class="carousel-text"></div>
							<div class="product-box">
								<a style="font-size: 28px; color:black">
									<span>$32.690</span>
								</a>
								<a href="gio_hang.html" class="btn btn-danger ">
									<i class="fa fa-shopping-cart"></i>
									<span>Add to cart</span>
								</a>
							</div>
						</li>
						<li>
							<div class="media">
								<a href="xemchitiet_logined.html">
									<img src="./img/coupe/images.jpg" width="369" height="200" alt="alt" />
								</a>
								<div class="carousel-item-content">
									<div class="text-right">
										<a class="arrow-link" href="#"> </a>
									</div>
									<a class="transform-please-2 carousel-title">
										<span>SED MOLESTIE FEUGIAT LECTUS</span>
									</a>
								</div>
							</div>
							<div class="carousel-text"></div>
							<div class="product-box">
								<a style="font-size: 28px; color:black">
									<span>$32.690</span>
								</a>
								<a href="gio_hang.html" class="btn btn-danger ">
									<i class="fa fa-shopping-cart"></i>
									<span>Add to cart</span>
								</a>
							</div>
						</li>
						<li>
							<div class="media">
								<a href="xemchitiet_logined.html">
									<img src="./img/coupe/mercedes-c-class-coupe-cutout.jpg" width="369" height="200" alt="alt" />
								</a>
								<div class="carousel-item-content">
									<div class="text-right">
										<a class="arrow-link" href="#"></a>
									</div>
									<a class="transform-please-2 carousel-title">
										<span>SED MOLESTIE FEUGIAT LECTUS</span>
									</a>
								</div>
							</div>
							<div class="carousel-text"></div>
							<div class="product-box">
								<a style="font-size: 28px; color:black">
									<span>$32.690</span>
								</a>
								<a href="gio_hang.html" class="btn btn-danger ">
									<i class="fa fa-shopping-cart"></i>
									<span>Add to cart</span>
								</a>
							</div>
						</li>
					</ul>

					<ul class="carousel-1">
						<li>
							<div class="media">
								<a href="xemchitiet_logined.html">
									<img src="./img/coupe/USC50HYC131A021001.jpg" width="369" height="200" alt="alt" />
								</a>
								<div class="carousel-item-content">
									<div class="text-right">
										<a class="arrow-link" href="#"></a>
									</div>
									<a class="transform-please-2 carousel-title">
										<span>SED MOLESTIE FEUGIAT LECTUS</span>
									</a>
								</div>
							</div>
							<div class="carousel-text"></div>
							<div class="product-box">
								<a style="font-size: 28px; color:black">
									<span>$32.690</span>
								</a>
								<a href="gio_hang.html" class="btn btn-danger ">
									<i class="fa fa-shopping-cart"></i>
									<span>Add to cart</span>
								</a>
							</div>
						</li>
						<li>
							<div class="media">
								<a href="xemchitiet_logined.html">
									<img src="./img/hatchback/1_78371.jpg" width="369" height="200" alt="alt" />
								</a>
								<div class="carousel-item-content">
									<div class="text-right">
										<a class="arrow-link" href="#"> </a>
									</div>
									<a class="transform-please-2 carousel-title">
										<span>SED MOLESTIE FEUGIAT LECTUS</span>
									</a>
								</div>
							</div>
							<div class="carousel-text"></div>
							<div class="product-box">
								<a style="font-size: 28px; color:black">
									<span>$32.690</span>
								</a>
								<a href="gio_hang.html" class="btn btn-danger ">
									<i class="fa fa-shopping-cart"></i>
									<span>Add to cart</span>
								</a>
							</div>
						</li>
						<li>
							<div class="media">
								<a href="xemchitiet_logined.html">
									<img src="./img/hatchback/galleryLandscape-gx4tmh.jpg" width="369" height="200" alt="alt" />
								</a>
								<div class="carousel-item-content">
									<div class="text-right">
										<a class="arrow-link" href="#"></a>
									</div>
									<a class="transform-please-2 carousel-title">
										<span>SED MOLESTIE FEUGIAT LECTUS</span>
									</a>
								</div>
							</div>
							<div class="carousel-text"></div>
							<div class="product-box">
								<a style="font-size: 28px; color:black">
									<span>$32.690</span>
								</a>
								<a href="gio_hang.html" class="btn btn-danger ">
									<i class="fa fa-shopping-cart"></i>
									<span>Add to cart</span>
								</a>
							</div>
						</li>
					</ul>


					<ul class="carousel-1">
						<li>
							<div class="media">
								<a href="xemchitiet_logined.html">
									<img src="./img/hatchback/mercedes-a45.jpg" width="369" height="200" alt="alt" />
								</a>
								<div class="carousel-item-content">
									<div class="text-right">
										<a class="arrow-link" href="#"></a>
									</div>
									<a class="transform-please-2 carousel-title">
										<span>SED MOLESTIE FEUGIAT LECTUS</span>
									</a>
								</div>
							</div>
							<div class="carousel-text"></div>
							<div class="product-box">
								<a style="font-size: 28px; color:black">
									<span>$32.690</span>
								</a>
								<a href="gio_hang.html" class="btn btn-danger ">
									<i class="fa fa-shopping-cart"></i>
									<span>Add to cart</span>
								</a>
							</div>
						</li>
						<li>
							<div class="media">
								<a href="xemchitiet_logined.html">
									<img src="./img/hatchback/mercedes_benz_a_class_hatchback_a160_amg_line_5dr_2016_front_three_quarter.jpeg" width="369" height="200"
									 alt="alt" />
								</a>
								<div class="carousel-item-content">
									<div class="text-right">
										<a class="arrow-link" href="#"> </a>
									</div>
									<a class="transform-please-2 carousel-title">
										<span>SED MOLESTIE FEUGIAT LECTUS</span>
									</a>
								</div>
							</div>
							<div class="carousel-text"></div>
							<div class="product-box">
								<a style="font-size: 28px; color:black">
									<span>$32.690</span>
								</a>
								<a href="gio_hang.html" class="btn btn-danger ">
									<i class="fa fa-shopping-cart"></i>
									<span>Add to cart</span>
								</a>
							</div>
						</li>
						<li>
							<div class="media">
								<a href="xemchitiet_logined.html">
									<img src="./img/hatchback/toyota_aygo_hatchback_1_0_vvt_i_x_3dr_2014_front_three_quarter.jpeg" width="369" height="200" alt="alt"
									/>
								</a>
								<div class="carousel-item-content">
									<div class="text-right">
										<a class="arrow-link" href="#"></a>
									</div>
									<a class="transform-please-2 carousel-title">
										<span>SED MOLESTIE FEUGIAT LECTUS</span>
									</a>
								</div>
							</div>
							<div class="carousel-text"></div>
							<div class="product-box">
								<a style="font-size: 28px; color:black">
									<span>$32.690</span>
								</a>
								<a href="gio_hang.html" class="btn btn-danger ">
									<i class="fa fa-shopping-cart"></i>
									<span>Add to cart</span>
								</a>
							</div>
						</li>
					</ul>


					<ul class="carousel-1">
						<li>
							<div class="media">
								<a href="xemchitiet_logined.html">
									<img src="./img/hatchback/vauxhall-astra-new-model-800.jpg" width="369" height="200" alt="alt" />
								</a>
								<div class="carousel-item-content">
									<div class="text-right">
										<a class="arrow-link" href="#"></a>
									</div>
									<a class="transform-please-2 carousel-title">
										<span>SED MOLESTIE FEUGIAT LECTUS</span>
									</a>
								</div>
							</div>
							<div class="carousel-text"></div>
							<div class="product-box">
								<a style="font-size: 28px; color:black">
									<span>$32.690</span>
								</a>
								<a href="gio_hang.html" class="btn btn-danger ">
									<i class="fa fa-shopping-cart"></i>
									<span>Add to cart</span>
								</a>
							</div>
						</li>
						<li>
							<div class="media">
								<a href="xemchitiet_logined.html">
									<img src="./img/MPV/1511072556-808-151023057722044-01.jpg" width="369" height="200" alt="alt" />
								</a>
								<div class="carousel-item-content">
									<div class="text-right">
										<a class="arrow-link" href="#"> </a>
									</div>
									<a class="transform-please-2 carousel-title">
										<span>SED MOLESTIE FEUGIAT LECTUS</span>
									</a>
								</div>
							</div>
							<div class="carousel-text"></div>
							<div class="product-box">
								<a style="font-size: 28px; color:black">
									<span>$32.690</span>
								</a>
								<a href="gio_hang.html" class="btn btn-danger ">
									<i class="fa fa-shopping-cart"></i>
									<span>Add to cart</span>
								</a>
							</div>
						</li>
						<li>
							<div class="media">
								<a href="xemchitiet_logined.html">
									<img src="./img/MPV/1dae7c0c8575309b7e5d3f5efcff2f89.jpg" width="369" height="200" alt="alt" />
								</a>
								<div class="carousel-item-content">
									<div class="text-right">
										<a class="arrow-link" href="#"></a>
									</div>
									<a class="transform-please-2 carousel-title">
										<span>SED MOLESTIE FEUGIAT LECTUS</span>
									</a>
								</div>
							</div>
							<div class="carousel-text"></div>
							<div class="product-box">
								<a style="font-size: 28px; color:black">
									<span>$32.690</span>
								</a>
								<a href="gio_hang.html" class="btn btn-danger ">
									<i class="fa fa-shopping-cart"></i>
									<span>Add to cart</span>
								</a>
							</div>
						</li>
					</ul>


					<ul class="carousel-1">
						<li>
							<div class="media">
								<a href="xemchitiet_logined.html">
									<img src="./img/MPV/2014-honda-odyssey_2778.jpg" width="369" height="200" alt="alt" />
								</a>
								<div class="carousel-item-content">
									<div class="text-right">
										<a class="arrow-link" href="#"></a>
									</div>
									<a class="transform-please-2 carousel-title">
										<span>SED MOLESTIE FEUGIAT LECTUS</span>
									</a>
								</div>
							</div>
							<div class="carousel-text"></div>
							<div class="product-box">
								<a style="font-size: 28px; color:black">
									<span>$32.690</span>
								</a>
								<a href="gio_hang.html" class="btn btn-danger ">
									<i class="fa fa-shopping-cart"></i>
									<span>Add to cart</span>
								</a>
							</div>
						</li>
						<li>
							<div class="media">
								<a href="xemchitiet_logined.html">
									<img src="./img/MPV/2016-suzuki-ertiga-in-thailand-0012-iImlS4yjTF.jpg" width="369" height="200" alt="alt" />
								</a>
								<div class="carousel-item-content">
									<div class="text-right">
										<a class="arrow-link" href="#"> </a>
									</div>
									<a class="transform-please-2 carousel-title">
										<span>SED MOLESTIE FEUGIAT LECTUS</span>
									</a>
								</div>
							</div>
							<div class="carousel-text"></div>
							<div class="product-box">
								<a style="font-size: 28px; color:black">
									<span>$32.690</span>
								</a>
								<a href="gio_hang.html" class="btn btn-danger ">
									<i class="fa fa-shopping-cart"></i>
									<span>Add to cart</span>
								</a>
							</div>
						</li>
						<li>
							<div class="media">
								<a href="xemchitiet_logined.html">
									<img src="./img/MPV/kia-sedona-2015-7_4821.jpg" width="369" height="200" alt="alt" />
								</a>
								<div class="carousel-item-content">
									<div class="text-right">
										<a class="arrow-link" href="#"></a>
									</div>
									<a class="transform-please-2 carousel-title">
										<span>SED MOLESTIE FEUGIAT LECTUS</span>
									</a>
								</div>
							</div>
							<div class="carousel-text"></div>
							<div class="product-box">
								<a style="font-size: 28px; color:black">
									<span>$32.690</span>
								</a>
								<a href="gio_hang.html" class="btn btn-danger ">
									<i class="fa fa-shopping-cart"></i>
									<span>Add to cart</span>
								</a>
							</div>
						</li>
					</ul>


					<ul class="carousel-1">
						<li>
							<div class="media">
								<a href="xemchitiet_logined.html">
									<img src="./img/MPV/mitsubishi-xpander-front-three-quarters-left-side-at-giias-2017-1510212354578-106-0-959-1280-crop-1510212361406.jpg"
									 width="369" height="200" alt="alt" />
								</a>
								<div class="carousel-item-content">
									<div class="text-right">
										<a class="arrow-link" href="#"></a>
									</div>
									<a class="transform-please-2 carousel-title">
										<span>SED MOLESTIE FEUGIAT LECTUS</span>
									</a>
								</div>
							</div>
							<div class="carousel-text"></div>
							<div class="product-box">
								<a style="font-size: 28px; color:black">
									<span>$32.690</span>
								</a>
								<a href="gio_hang.html" class="btn btn-danger ">
									<i class="fa fa-shopping-cart"></i>
									<span>Add to cart</span>
								</a>
							</div>
						</li>
						<li>
							<div class="media">
								<a href="xemchitiet_logined.html">
									<img src="./img/MPV/photo1524133009977-15241330099771421272463.jpg" width="369" height="200" alt="alt" />
								</a>
								<div class="carousel-item-content">
									<div class="text-right">
										<a class="arrow-link" href="#"> </a>
									</div>
									<a class="transform-please-2 carousel-title">
										<span>SED MOLESTIE FEUGIAT LECTUS</span>
									</a>
								</div>
							</div>
							<div class="carousel-text"></div>
							<div class="product-box">
								<a style="font-size: 28px; color:black">
									<span>$32.690</span>
								</a>
								<a href="gio_hang.html" class="btn btn-danger ">
									<i class="fa fa-shopping-cart"></i>
									<span>Add to cart</span>
								</a>
							</div>
						</li>
						<li>
							<div class="media">
								<a href="xemchitiet_logined.html">
									<img src="./img/MPV/suzuki-ertiga_9219.jpg" width="369" height="200" alt="alt" />
								</a>
								<div class="carousel-item-content">
									<div class="text-right">
										<a class="arrow-link" href="#"></a>
									</div>
									<a class="transform-please-2 carousel-title">
										<span>SED MOLESTIE FEUGIAT LECTUS</span>
									</a>
								</div>
							</div>
							<div class="carousel-text"></div>
							<div class="product-box">
								<a style="font-size: 28px; color:black">
									<span>$32.690</span>
								</a>
								<a href="gio_hang.html" class="btn btn-danger ">
									<i class="fa fa-shopping-cart"></i>
									<span>Add to cart</span>
								</a>
							</div>
						</li>
					</ul>

					<ul class="carousel-1">
						<li>
							<div class="media">
								<a href="xemchitiet_logined.html">
									<img src="./img/MPV/toyota-innova-mpv.jpg" width="369" height="200" alt="alt" />
								</a>
								<div class="carousel-item-content">
									<div class="text-right">
										<a class="arrow-link" href="#"></a>
									</div>
									<a class="transform-please-2 carousel-title">
										<span>SED MOLESTIE FEUGIAT LECTUS</span>
									</a>
								</div>
							</div>
							<div class="carousel-text"></div>
							<div class="product-box">
								<a style="font-size: 28px; color:black">
									<span>$32.690</span>
								</a>
								<a href="gio_hang.html" class="btn btn-danger ">
									<i class="fa fa-shopping-cart"></i>
									<span>Add to cart</span>
								</a>
							</div>
						</li>
						<li>
							<div class="media">
								<a href="xemchitiet_logined.html">
									<img src="./img/sedan/1-Bentley-Mulsanne.jpg" width="369" height="200" alt="alt" />
								</a>
								<div class="carousel-item-content">
									<div class="text-right">
										<a class="arrow-link" href="#"> </a>
									</div>
									<a class="transform-please-2 carousel-title">
										<span>SED MOLESTIE FEUGIAT LECTUS</span>
									</a>
								</div>
							</div>
							<div class="carousel-text"></div>
							<div class="product-box">
								<a style="font-size: 28px; color:black">
									<span>$32.690</span>
								</a>
								<a href="gio_hang.html" class="btn btn-danger ">
									<i class="fa fa-shopping-cart"></i>
									<span>Add to cart</span>
								</a>
							</div>
						</li>
						<li>
							<div class="media">
								<a href="xemchitiet_logined.html">
									<img src="./img/hatchback/galleryLandscape-gx4tmh.jpg" width="369" height="200" alt="alt" />
								</a>
								<div class="carousel-item-content">
									<div class="text-right">
										<a class="arrow-link" href="#"></a>
									</div>
									<a class="transform-please-2 carousel-title">
										<span>SED MOLESTIE FEUGIAT LECTUS</span>
									</a>
								</div>
							</div>
							<div class="carousel-text"></div>
							<div class="product-box">
								<a style="font-size: 28px; color:black">
									<span>$32.690</span>
								</a>
								<a href="gio_hang.html" class="btn btn-danger ">
									<i class="fa fa-shopping-cart"></i>
									<span>Add to cart</span>
								</a>
							</div>
						</li>
					</ul>


					<ul class="carousel-1">
						<li>
							<div class="media">
								<a href="xemchitiet_logined.html">
									<img src="./img/sedan/1513046601-319-01-1512896563-width660height439.jpg" width="369" height="200" alt="alt" />
								</a>
								<div class="carousel-item-content">
									<div class="text-right">
										<a class="arrow-link" href="#"></a>
									</div>
									<a class="transform-please-2 carousel-title">
										<span>SED MOLESTIE FEUGIAT LECTUS</span>
									</a>
								</div>
							</div>
							<div class="carousel-text"></div>
							<div class="product-box">
								<a style="font-size: 28px; color:black">
									<span>$32.690</span>
								</a>
								<a href="gio_hang.html" class="btn btn-danger ">
									<i class="fa fa-shopping-cart"></i>
									<span>Add to cart</span>
								</a>
							</div>
						</li>
						<li>
							<div class="media">
								<a href="xemchitiet_logined.html">
									<img src="./img/sedan/20160812064137002.jpg" width="369" height="200" alt="alt" />
								</a>
								<div class="carousel-item-content">
									<div class="text-right">
										<a class="arrow-link" href="#"> </a>
									</div>
									<a class="transform-please-2 carousel-title">
										<span>SED MOLESTIE FEUGIAT LECTUS</span>
									</a>
								</div>
							</div>
							<div class="carousel-text"></div>
							<div class="product-box">
								<a style="font-size: 28px; color:black">
									<span>$32.690</span>
								</a>
								<a href="gio_hang.html" class="btn btn-danger ">
									<i class="fa fa-shopping-cart"></i>
									<span>Add to cart</span>
								</a>
							</div>
						</li>
						<li>
							<div class="media">
								<a href="xemchitiet_logined.html">
									<img src="./img/sedan/2_156961.jpg" width="369" height="200" alt="alt" />
								</a>
								<div class="carousel-item-content">
									<div class="text-right">
										<a class="arrow-link" href="#"></a>
									</div>
									<a class="transform-please-2 carousel-title">
										<span>SED MOLESTIE FEUGIAT LECTUS</span>
									</a>
								</div>
							</div>
							<div class="carousel-text"></div>
							<div class="product-box">
								<a style="font-size: 28px; color:black">
									<span>$32.690</span>
								</a>
								<a href="gio_hang.html" class="btn btn-danger ">
									<i class="fa fa-shopping-cart"></i>
									<span>Add to cart</span>
								</a>
							</div>
						</li>
					</ul>

					<ul class="carousel-1">
						<li>
							<div class="media">
								<a href="xemchitiet_logined.html">
									<img src="./img/sedan/AAozku2.jpg" width="369" height="200" alt="alt" />
								</a>
								<div class="carousel-item-content">
									<div class="text-right">
										<a class="arrow-link" href="#"></a>
									</div>
									<a class="transform-please-2 carousel-title">
										<span>SED MOLESTIE FEUGIAT LECTUS</span>
									</a>
								</div>
							</div>
							<div class="carousel-text"></div>
							<div class="product-box">
								<a style="font-size: 28px; color:black">
									<span>$32.690</span>
								</a>
								<a href="gio_hang.html" class="btn btn-danger ">
									<i class="fa fa-shopping-cart"></i>
									<span>Add to cart</span>
								</a>
							</div>
						</li>
						<li>
							<div class="media">
								<a href="xemchitiet_logined.html">
									<img src="./img/sedan/thu-tu-xep-hang-dong-xe-sedan-hang-c-nhu-the-nao.png" width="369" height="200" alt="alt" />
								</a>
								<div class="carousel-item-content">
									<div class="text-right">
										<a class="arrow-link" href="#"> </a>
									</div>
									<a class="transform-please-2 carousel-title">
										<span>SED MOLESTIE FEUGIAT LECTUS</span>
									</a>
								</div>
							</div>
							<div class="carousel-text"></div>
							<div class="product-box">
								<a style="font-size: 28px; color:black">
									<span>$32.690</span>
								</a>
								<a href="gio_hang.html" class="btn btn-danger ">
									<i class="fa fa-shopping-cart"></i>
									<span>Add to cart</span>
								</a>
							</div>
						</li>
						<li>
							<div class="media">
								<a href="xemchitiet_logined.html">
									<img src="./img/sedan/e7c0584255fa6f2981e510285a9e9e4f_XL.jpg" width="369" height="200" alt="alt" />
								</a>
								<div class="carousel-item-content">
									<div class="text-right">
										<a class="arrow-link" href="#"></a>
									</div>
									<a class="transform-please-2 carousel-title">
										<span>SED MOLESTIE FEUGIAT LECTUS</span>
									</a>
								</div>
							</div>
							<div class="carousel-text"></div>
							<div class="product-box">
								<a style="font-size: 28px; color:black">
									<span>$32.690</span>
								</a>
								<a href="gio_hang.html" class="btn btn-danger ">
									<i class="fa fa-shopping-cart"></i>
									<span>Add to cart</span>
								</a>
							</div>
						</li>
					</ul>

					<ul class="carousel-1">
						<li>
							<div class="media">
								<a href="xemchitiet_logined.html">
									<img src="./img/MPV/1.jpg" width="369" height="200" alt="alt" />
								</a>
								<div class="carousel-item-content">
									<div class="text-right">
										<a class="arrow-link" href="#"></a>
									</div>
									<a class="transform-please-2 carousel-title">
										<span>SED MOLESTIE FEUGIAT LECTUS</span>
									</a>
								</div>
							</div>
							<div class="carousel-text"></div>
							<div class="product-box">
								<a style="font-size: 28px; color:black">
									<span>$32.690</span>
								</a>
								<a href="gio_hang.html" class="btn btn-danger ">
									<i class="fa fa-shopping-cart"></i>
									<span>Add to cart</span>
								</a>
							</div>
						</li>
					</ul>





				</section>
				<br>
				<br>
				<div class="row">
					<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
						<ul class="pagination">
							<li>
								<a href="#">&laquo;</a>
							</li>
							<li>
								<a href="#" onclick="clickBtn(1)">1</a>
							</li>
							<li>
								<a href="#" onclick="clickBtn(2)" >2</a>
							</li>
							<li>
								<a href="#" onclick="clickBtn(3)">3</a>
							</li>
							<li>
								<a href="#" onclick="clickBtn(4)">4</a>
							</li>
							<li>
								<a href="#" onclick="clickBtn(5)">5</a>
							</li>
							<li>
								<a href="#">&raquo;</a>
							</li>
						</ul>
					</div>
				</div>

				<div class="line transform-please-2"></div>

				<!-- FOOTER -->
				<div class="footer-block">
					<div class="container">
						<div class="row">
							<div class="foot-top-line"></div>
							<div class="foot-bot-line"></div>
							<a class="scroll-top" href="#">
								<i class="fa fa-angle-up"></i>
							</a>
						</div>
					</div>
					<div class="container fot-container">
						<div class="row">
							<ul class="nav-footer">
								<li>
									<a href="./index-logined.html">
										<span>HOME</span>
									</a>
								</li>
								<li>
									<a href="#">
										<span>ABOUT</span>
									</a>
								</li>
								<li class="current">
									<a href="#">
										<span>CONTACT</span>
									</a>
								</li>
								<li>
									<a href="./index.html">
										<span>LOGOUT</span>
									</a>
								</li>
								<li>
									<a href="./signup.html">
										<span>SIGNUP</span>
									</a>
								</li>
							</ul>
						</div>
					</div>

				</div>
				<!-- END -->

				<!-- ABSOLUTE FOOTER -->
				<div class="copyright-block">
					<div class="container">
						<div class="row">
							<div class="col-md-12 col-sm-12 col-xs-12 left">
								<ul class="unstyled clearfix social-team">
									<li>
										<a href="http://fb.com/#" target="_blank">
											<i class="fa fa-facebook"></i>
										</a>
									</li>
									<li>
										<a href="http://twitter.com/#" target="_blank">
											<i class="fa fa-twitter"></i>
										</a>
									</li>
									<li>
										<a href="http://plus.google.com/#" target="_blank">
											<i class="fa fa-google"></i>
										</a>
									</li>
									<li>
										<a href="http://youtube.com/#" target="_blank">
											<i class="fa fa-youtube"></i>
										</a>
									</li>
									<li>
										<a href="http://rss.com/#" target="_blank">
											<i class="fa fa-rss"></i>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<!-- END -->

				<!-- SCRIPTS -->
				<script type="text/javascript" src="./assets/user/js/jquery-1.11.1.min.js"></script>
				<script src="./assets/user/js/jquery-migrate-1.2.1.js"></script>
				<script src="./assets/user/js/bootstrap-3.1.1.min.js"></script>
				<script src="./assets/user/js/modernizr.custom.js"></script>
				<script src="./assets/user/js/classie.js"></script>
				<script src="./assets/user/js/pathLoader.js"></script>
				<script src="./assets/user/js/waypoints.min.js"></script>
				<script src="./assets/user/js/loader.js"></script>
				<script src="./assets/user/js/jflickrfeed.min.js"></script>
				<script src="./assets/user/plugins/selectbox/jquery.selectbox-0.2.js"></script>
				<script src="./assets/user/plugins/backstretch/backstretch-2.0.4.min.js"></script>
				<script src="./assets/user/plugins/camera-slider/camera-slider-1.3.4.min.js"></script>
				<script src="./assets/user/plugins/camera-slider/easing-1.3.min.js"></script>
				<script src="./assets/user/plugins/fancybox/fancybox-1.3.4.pack.js"></script>
				<script src="./assets/user/plugins/fancybox/klass-1.0.min.js"></script>
				<script src="./assets/user/plugins/fancybox/photoswipe-3.0.5.min.js"></script>
				<script src="./assets/user/plugins/hover-animations/transform2d.min.js"></script>
				<script src="./assets/user/plugins/hover-animations/hover-animations-1.0.min.js"></script>
				<script src="./assets/user/js/smart-menu.js"></script>
				<script src="./assets/user/js/cssua.min.js"></script>
				<script src="./assets/user/plugins/bxslider/jquery.bxslider.min.js"></script>
				<script src="./assets/user/plugins/nouislider/jquery.nouislider.min.js"></script>
				<script src="./assets/user/plugins/flexslider/jquery.flexslider.js"></script>
				<script src="./assets/user/js/custom.js"></script>

				<script>
					$(document).ready(function () {
						var divs = $(".bx-controls-direction")
						divs.hide()


						var rowcar = $('.bx-wrapper');
						rowcar.hide();
						rowcar.eq(0).show();

						rowcar.eq(1).show();
						rowcar.eq(2).show();
						rowcar.eq(3).show();
					})
				</script>

				<script>
					var clickBtn = function (id) {
						var rowcar = $('.bx-wrapper');
						rowcar.hide();
						rowcar.eq(0).show();
						
						var index = parseInt(id);

						for (j = index * 3 - 2; j <= index * 3; j++) {
              rowcar.eq(j).fadeIn(200);
              
            }
						

					}

				</script>
</body>

</html>