* {
	font-family: arial;
	font-size: 14px;
}

img.img-responsive {
    width:  100%;
}

.khoihinhanh.row {
    margin-top:  14px;
}

.bigImage img {
    height: 380px;
}

.trangchinh.container {
    margin-top:  80px;
}

.khoithongtinlon {
	height: 100%;
	margin-top: 27px;
}
	
	.khoithongtinlon p h2{
		text-align: justify;
	}
