<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Trang chủ</title>
  <link href="./assets/user/css/master.css" rel="stylesheet">

</head>
<body class="noIE home">
<!-- HEADER -->
<header id="main-header">
  <div class="container ">
    <div class="row">
      <div class="col-md-3 spacer"> </div>
      <div class="col-md-6"> 
        <!-- NAVIGATION -->
        <div class="navbar navbar-default navbar-top ">
          <div class="navbar-collapse">
            <ul class="nav navbar-nav nav-justified">
              <li class="current"><a><span>HOME</span></a></li>
              <li><a href="#"><span>ABOUT</span></a></li>
              <li><a href="#"><span>CONTACT</span></a></li>
              <li><a href="./login.html"><span>LOGIN</span></a></li>
              <li><a href="./signup.html"><span>SIGNUP</span></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4"> 
        <!-- LOGO -->
       <div id="logo" > <span class="bglogo1 transform-please-2"><a href="index.html"><img src="./assets/user/img/logo.png"  alt="logo"/></a></span> <span class="bglogo2 transform-please-2"></span> <span class="bglogo3 transform-please-2"></span> <span class="bglogo4 transform-please-2"></span> </div>
      </div>
    </div>
  </div>
  <div class="container">
    <nav id="main-nav" >
      <div class="row">
        <div class="col-md-12"> 
          <!-- NAVIGATION -->
          <div class="navbar navbar-default" role="navigation">
            <div class="navbar-header"> </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav nav-justified">
                {{#each layoutVM.LoaiXe}}
                <li><a href="catalog.html"><span>{{TenLoai}}</span></a></li>
                {{/each}}
              </ul>
            </div>
            <div class="mini-search-top">
              <form class="form-mini-search" >
                <a href="./tim.html" class="arrow-link submit-link"> <span class="icon-transform transform-please"><i class="fa fa-search"></i></span></a>
              </form>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>
</header>
<!-- HEADER END --> 

<!-- HOME SLIDER -->
<div id="slider">
  <div class="camera_slider">
    <div data-thumb="./assets/user/media/slider/1.jpg" data-src="./assets/user/media/slider/1.jpg"> </div>
    <div data-thumb="./assets/user/media/slider/2.jpg" data-src="./assets/user/media/slider/2.jpg"> </div>
    <div data-thumb="./assets/user/media/slider/3.jpg" data-src="./assets/user/media/slider/3.jpg"> </div>
    <div data-thumb="./assets/user/media/slider/4.jpg" data-src="./assets/user/media/slider/4.jpg"> </div>
  </div>
</div>
<!-- HOME SLIDER END --> 

<!-- SECTION -->
<div class="brandslider bg-overlay overlay-bot">
  <div class="container">
    <div  class="row" >
      <ul>
        {{#each layoutVM.HangXe}}
        <li><a href="catalog.html"><img src="./assets/user/media/brand/{{Pics}}"  alt="brand" /></a></li>
       {{/each}}
      </ul>
    </div>
  </div>
</div>
<!-- END --> 

<!-- SECTION -->
<div class="section-3" >
  <div class="container">
    <div class="row" >
      <section class="carousel-3" >
        <div class="carousel-title ">
          <div class="transform-please-2 "> <span style="font-family: sans-serif; ">MỚI NHẤT</span> </div>
        </div>
        <ul>
          <li><a href="xemchitiet.html"><img alt="alt" src="./assets/user/media/product/small/item_01.jpg" width="170" height="120"></a>
            <h3>CHRYSLER MINIVANS</h3>
          </li>
          <li><a href="xemchitiet.html"><img alt="alt" src="./assets/user/media/product/small/item_02.jpg" width="170" height="120"></a>
            <h3>HYUNDAI SONATA </h3>
          </li>
          <li><a href="xemchitiet.html"><img alt="alt" src="./assets/user/media/product/small/item_03.jpg" width="170" height="120"></a>
            <h3>CHEVROLET VOLT</h3>
          </li>
          <li><a href="xemchitiet.html"><img alt="alt" src="./assets/user/media/product/small/item_04.jpg" width="170" height="120"></a>
            <h3>HONDA ACCORD</h3>
          </li>
          <li><a href="xemchitiet.html"><img alt="alt" src="./assets/user/media/product/small/item_05.jpg" width="170" height="120"></a>
            <h3>ALFA ROMEO BRERA</h3>
          </li>
          <li><a href="xemchitiet.html"><img alt="alt" src="./assets/user/media/product/small/item_01.jpg" width="170" height="120"></a>
            <h3>CHRYSLER MINIVANS</h3>
          </li>
          <li><a href="xemchitiet.html"><img alt="alt" src="./assets/user/media/product/small/item_02.jpg" width="170" height="120"></a>
            <h3>HYUNDAI SONATA </h3>
          </li>
          <li><a href="xemchitiet.html"><img alt="alt" src="./assets/user/media/product/small/item_03.jpg" width="170" height="120"></a>
            <h3>CHEVROLET VOLT</h3>
          </li>
          <li><a href="xemchitiet.html"><img alt="alt" src="./assets/user/media/product/small/item_04.jpg" width="170" height="120"></a>
            <h3>HONDA ACCORD</h3>
          </li>
          <li><a href="xemchitiet.html"><img  alt="alt" src="./assets/user/media/product/small/item_05.jpg" width="170" height="120"></a>
            <h3>ALFA ROMEO BRERA</h3>
          </li>
        </ul>
      </section>

      <section class="carousel-3" style="margin-top: 35px">
        <div class="carousel-title ">
          <div class="transform-please-2 "> <span  style="font-family: sans-serif;" >PHỔ BIẾN</span> </div>
        </div>
        <ul>
          <li><a href="xemchitiet.html"><img alt="alt" src="./assets/user/media/product/small/item_01.jpg" width="170" height="120"></a>
            <h3>CHRYSLER MINIVANS</h3>
          </li>
          <li><a href="xemchitiet.html"><img alt="alt" src="./assets/user/media/product/small/item_02.jpg" width="170" height="120"></a>
            <h3>HYUNDAI SONATA </h3>
          </li>
          <li><a href="xemchitiet.html"><img alt="alt" src="./assets/user/media/product/small/item_03.jpg" width="170" height="120"></a>
            <h3>CHEVROLET VOLT</h3>
          </li>
          <li><a href="xemchitiet.html"><img alt="alt" src="./assets/user/media/product/small/item_04.jpg" width="170" height="120"></a>
            <h3>HONDA ACCORD</h3>
          </li>
          <li><a href="xemchitiet.html"><img alt="alt" src="./assets/user/media/product/small/item_05.jpg" width="170" height="120"></a>
            <h3>ALFA ROMEO BRERA</h3>
          </li>
          <li><a href="xemchitiet.html"><img alt="alt" src="./assets/user/media/product/small/item_01.jpg" width="170" height="120"></a>
            <h3>CHRYSLER MINIVANS</h3>
          </li>
          <li><a href="xemchitiet.html"><img alt="alt" src="./assets/user/media/product/small/item_02.jpg" width="170" height="120"></a>
            <h3>HYUNDAI SONATA </h3>
          </li>
          <li><a href="xemchitiet.html"><img alt="alt" src="./assets/user/media/product/small/item_03.jpg" width="170" height="120"></a>
            <h3>CHEVROLET VOLT</h3>
          </li>
          <li><a href="xemchitiet.html"><img alt="alt" src="./assets/user/media/product/small/item_04.jpg" width="170" height="120"></a>
            <h3>HONDA ACCORD</h3>
          </li>
          <li><a href="xemchitiet.html"><img  alt="alt" src="./assets/user/media/product/small/item_05.jpg" width="170" height="120"></a>
            <h3>ALFA ROMEO BRERA</h3>
          </li>
        </ul>
      </section>

      <section class="carousel-3" style="margin-top: 35px">
        <div class="carousel-title ">
          <div class="transform-please-2 "> <span style="font-family: sans-serif;">XEM NHIỀU</span> </div>
        </div>
        <ul>
          <li><a href="xemchitiet.html"><img alt="alt" src="./assets/user/media/product/small/item_01.jpg" width="170" height="120"></a>
            <h3>CHRYSLER MINIVANS</h3>
          </li>
          <li><a href="xemchitiet.html"><img alt="alt" src="./assets/user/media/product/small/item_02.jpg" width="170" height="120"></a>
            <h3>HYUNDAI SONATA </h3>
          </li>
          <li><a href="xemchitiet.html"><img alt="alt" src="./assets/user/media/product/small/item_03.jpg" width="170" height="120"></a>
            <h3>CHEVROLET VOLT</h3>
          </li>
          <li><a href="xemchitiet.html"><img alt="alt" src="./assets/user/media/product/small/item_04.jpg" width="170" height="120"></a>
            <h3>HONDA ACCORD</h3>
          </li>
          <li><a href="xemchitiet.html"><img alt="alt" src="./assets/user/media/product/small/item_05.jpg" width="170" height="120"></a>
            <h3>ALFA ROMEO BRERA</h3>
          </li>
          <li><a href="xemchitiet.html"><img alt="alt" src="./assets/user/media/product/small/item_01.jpg" width="170" height="120"></a>
            <h3>CHRYSLER MINIVANS</h3>
          </li>
          <li><a href="xemchitiet.html"><img alt="alt" src="./assets/user/media/product/small/item_02.jpg" width="170" height="120"></a>
            <h3>HYUNDAI SONATA </h3>
          </li>
          <li><a href="xemchitiet.html"><img alt="alt" src="./assets/user/media/product/small/item_03.jpg" width="170" height="120"></a>
            <h3>CHEVROLET VOLT</h3>
          </li>
          <li><a href="xemchitiet.html"><img alt="alt" src="./assets/user/media/product/small/item_04.jpg" width="170" height="120"></a>
            <h3>HONDA ACCORD</h3>
          </li>
          <li><a href="xemchitiet.html"><img  alt="alt" src="./assets/user/media/product/small/item_05.jpg" width="170" height="120"></a>
            <h3>ALFA ROMEO BRERA</h3>
          </li>
        </ul>
      </section>
    </div>
  </div>
</div>
<!--END--> 
<!-- SECTION -->
<div class="section-9">
  <div style="background-image: url(./assets/user/media/paralax/paralax3.png) ;" class="bg3"></div>
  <div class="container">
    <div class="row">
      <section class="video-section animated " data-animation="bounceInRight">
        <div class="carousel-title ">
          <div class="transform-please-2 "> <span> VIDEO SECTION</span> </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-lg-4">
          <article  class="clearfix animated text-left ">
            <ul class="nav nav-tabs verticale-tabs">
              <li class="active">
                <div class="active-panel">NOW PLAYING<a href="#" class="arrow-link"> <span class="icon-transform transform-please-2"><i class="fa fa-angle-right"></i></span></a></div>
                <a href="#86024" data-toggle="tab"> <img width="550" height="344" alt="alt" src="./assets/user/media/section6/1.jpg"></a></li>
                <li class="">
                  <div class="active-panel">NOW PLAYING<a href="#" class="arrow-link"> <span class="icon-transform transform-please-2"><i class="fa fa-angle-right"></i></span></a></div>
                  <a href="#41318" data-toggle="tab"><img width="550" height="344" alt="alt" src="./assets/user/media/section6/2.jpg"></a></li>
                  <li class="">
                    <div class="active-panel">NOW PLAYING<a href="#" class="arrow-link"> <span class="icon-transform transform-please-2"><i class="fa fa-angle-right"></i></span></a></div>
                    <a href="#81908" data-toggle="tab"><img width="550" height="344" alt="alt" src="./assets/user/media/section6/3.jpg"></a></li>
                    <li class="">
                      <div class="active-panel">NOW PLAYING<a href="#" class="arrow-link"> <span class="icon-transform transform-please-2"><i class="fa fa-angle-right"></i></span></a></div>
                      <a href="#81909" data-toggle="tab"><img width="550" height="344" alt="alt" src="./assets/user/media/section6/4.jpg"></a></li>
                    </ul>
                  </article>
                </div>
                <div class="tab-content verticale-tabs-content col-xs-12 col-sm-8 col-lg-8">
                  <div class="tab-pane active" id="86024">
                    <article class="clearfix animated text-left ">
                      <iframe src="http://player.vimeo.com/video/51287059"   ></iframe>
                      <div class="desc-video">
                        <p> DMC Aventador Molto Veloce LP900 </p>
                      </div>
                      <div class="box-more-info">
                        <div class="transform-revers"> <a href="#"><i class="fa fa-clock-o"></i> JOHN DEO</a></div>
                        <div class="transform-revers"> <a href="#"> <i class="fa fa-clock-o"></i> JULY 16 2020</a></div>
                        <div class="transform-revers"> <a href="#"><i class="fa fa-comment-o"></i> 5 COMMENTS</a></div>
                      </div>
                    </article>
                  </div>
                  <div class="tab-pane" id="41318">
                    <article class="clearfix animated text-left ">
                      <iframe src="http://player.vimeo.com/video/88972949"   ></iframe>
                      <div class="desc-video">
                        <p>DMC Thailand Track Day Event</p>
                      </div>
                      <div class="box-more-info">
                        <div class="transform-revers"> <a href="#"><i class="fa fa-clock-o"></i> JOHN DEO</a></div>
                        <div class="transform-revers"> <a href="#"> <i class="fa fa-clock-o"></i> JULY 16 2020</a></div>
                        <div class="transform-revers"> <a href="#"><i class="fa fa-comment-o"></i> 15 COMMENTS</a></div>
                      </div>
                    </article>
                  </div>
                  <div class="tab-pane" id="81908">
                    <article class="clearfix animated text-left ">
                      <article class="clearfix animated text-left ">
                        <iframe src="http://player.vimeo.com/video/82443310"   ></iframe>
                        <div class="desc-video">
                          <p> McLaren MP4 12C Tuning </p>
                        </div>
                        <div class="box-more-info">
                          <div class="transform-revers"> <a href="#"><i class="fa fa-clock-o"></i> JOHN DEO</a></div>
                          <div class="transform-revers"> <a href="#"> <i class="fa fa-clock-o"></i> JULY 16 2020</a></div>
                          <div class="transform-revers"> <a href="#"><i class="fa fa-comment-o"></i> 23 COMMENTS</a></div>
                        </div>
                      </article>
                    </article>
                  </div>
                  <div class="tab-pane" id="81909">
                    <article class="clearfix animated text-left ">
                      <article class="clearfix animated text-left ">
                        <iframe src="http://player.vimeo.com/video/40227044"   ></iframe>
                        <div class="desc-video">
                          <p> DMC "Tempe" Carbon Fiber Body Kit </p>
                        </div>
                        <div class="box-more-info">
                          <div class="transform-revers"> <a href="#"><i class="fa fa-clock-o"></i> JOHN DEO</a></div>
                          <div class="transform-revers"> <a href="#"> <i class="fa fa-clock-o"></i> JULY 16 2020</a></div>
                          <div class="transform-revers"> <a href="#"><i class="fa fa-comment-o"></i> 45 COMMENTS</a></div>
                        </div>
                      </article>
                    </article>
                  </div>
                </div>
              </section>
            </div>
          </div>
        </div>
        <!-- END --> 
        <!-- FOOTER -->
        <div class="footer-block">
          <div class="container">
            <div class="row">
              <div class="foot-top-line"></div>
              <div class="foot-bot-line"></div>
              <a class="scroll-top" href="#"><i class="fa fa-angle-up"></i> </a> </div>
            </div>
            <div class="container fot-container">
              <div class="row">
                <ul class="nav-footer">
                  <li><a href="./index.html"><span>HOME</span></a></li>
                  <li><a href="#"><span>ABOUT</span></a></li>
                  <li class="current"><a href="#"><span>CONTACT</span></a></li>
                  <li><a href="./login.html"><span>LOGIN</span></a></li>
                  <li><a href="./signup.html"><span>SIGNUP</span></a></li>
                </ul>
              </div>
            </div>
          </div>
          <!-- END --> 

          <!-- ABSOLUTE FOOTER -->
          <div class="copyright-block">
            <div class="container">
              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 left">
                  <ul class="unstyled clearfix social-team">
                    <li><a href="http://fb.com/#" target="_blank"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="http://twitter.com/#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="http://plus.google.com/#" target="_blank"><i class="fa fa-google"></i></a></li>
                    <li><a href="http://youtube.com/#" target="_blank"><i class="fa fa-youtube"></i></a></li>
                    <li><a href="http://rss.com/#" target="_blank"><i class="fa fa-rss"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <!-- END --> 

          <!-- SCRIPTS --> 
          <script type="text/javascript" src="./assets/user/js/jquery-1.11.1.min.js"></script>  
          <script src="./assets/user/js/jquery-migrate-1.2.1.js" ></script> 
          <script src="./assets/user/js/bootstrap-3.1.1.min.js"></script> 
          <script src="./assets/user/js/modernizr.custom.js"></script> 
          <script src="./assets/user/js/classie.js"></script> 
          <script src="./assets/user/js/pathLoader.js"></script> 
          <script src="./assets/user/js/waypoints.min.js"></script> 
          <script src="./assets/user/js/loader.js"></script> 
          <script src="./assets/user/js/jflickrfeed.min.js"></script> 
          <script src="./assets/user/plugins/selectbox/jquery.selectbox-0.2.js"></script> 
          <script src="./assets/user/plugins/backstretch/backstretch-2.0.4.min.js"></script> 
          <script src="./assets/user/plugins/camera-slider/camera-slider-1.3.4.min.js"></script> 
          <script src="./assets/user/plugins/camera-slider/easing-1.3.min.js"></script> 
          <script src="./assets/user/plugins/fancybox/fancybox-1.3.4.pack.js"></script> 
          <script src="./assets/user/plugins/fancybox/klass-1.0.min.js"></script> 
          <script src="./assets/user/plugins/fancybox/photoswipe-3.0.5.min.js"></script> 
          <script src="./assets/user/plugins/hover-animations/transform2d.min.js"></script> 
          <script src="./assets/user/plugins/hover-animations/hover-animations-1.0.min.js"></script> 
          <script src="./assets/user/js/smart-menu.js"></script> 
          <script src="./assets/user/js/cssua.min.js"></script> 
          <script src="./assets/user/plugins/bxslider/jquery.bxslider.min.js"></script> 
          <script src="./assets/user/plugins/nouislider/jquery.nouislider.min.js"></script> 
          <script src="./assets/user/plugins/flexslider/jquery.flexslider.js"></script> 
          <script src="./assets/user/js/custom.js"></script>
        </body>
        </html>
