<!DOCTYPE html>
<html lang="en">

<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="description" content="Neon Admin Panel" />
	<meta name="author" content="" />
	<title>Admin Dashboard</title>
	<link rel="stylesheet" href="/assets/admin/js/jquery-ui/css/no-theme/jquery-ui-1.10.3.custom.min.css">
	<link rel="stylesheet" href="/assets/admin/css/font-icons/entypo/css/entypo.css">
	<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic">
	<link rel="stylesheet" href="/assets/admin/css/bootstrap.css">
	<link rel="stylesheet" href="/assets/admin/css/neon-core.css">
	<link rel="stylesheet" href="/assets/admin/css/neon-theme.css">
	<link rel="stylesheet" href="/assets/admin/css/neon-forms.css">
	<link rel="stylesheet" href="/assets/admin/css/custom.css">
	<link rel="stylesheet" href="/assets/admin/js/datatables/datatables.css">
	<link rel="stylesheet" href="/assets/admin/js/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">

	<script src="/assets/admin/js/jquery-2.2.3.min.js"></script>
</head>

<body class="page-body" data-url="">

	<div class="page-container">
		<div class="sidebar-menu">
			<div class="sidebar-menu-inner">
				<header class="logo-env">
					<div class="logo">
						<a href="/admin/dashboard">
							<img src="/assets/admin/images/logo.png" width="150" alt="" />
						</a>
					</div>
					<div class="sidebar-collapse">
						<a href="#" class="sidebar-collapse-icon">
							<i class="entypo-menu"></i>
						</a>
					</div>
					<div class="sidebar-mobile-menu visible-xs">
						<a href="#" class="with-animation">
							<i class="entypo-menu"></i>
						</a>
					</div>
				</header>
				<ul id="main-menu" class="main-menu">
					<li class="active opened active">
						<a href="/admin/dashboard">
							<i class="entypo-gauge"></i>
							<span class="title">Dashboard</span>
						</a>
					</li>
					<li class="has-sub">
						<a href="#">
							<i class="entypo-layout"></i>
							<span class="title">Quản lý Hãng xe</span>
						</a>
						<ul>
							<li>
								<a href="/admin/catalog/list">
									<span class="title">Danh sách Hãng xe</span>
								</a>
							</li>
							<li>
								<a href="/admin/catalog/add">
									<span class="title">Thêm Hãng xe mới</span>
								</a>
							</li>
						</ul>
					</li>
					<li class="has-sub">
						<a href="#">
							<i class="entypo-layout"></i>
							<span class="title">Quản lý loại xe</span>
						</a>
						<ul>
							<li>
								<a href="/admin/category/list">
									<span class="title">Danh sách loại xe</span>
								</a>
							</li>
							<li>
								<a href="/admin/category/add">
									<span class="title">Thêm loại xe mới</span>
								</a>
							</li>
						</ul>
					</li>
					<li class="has-sub">
						<a href="#">
							<i class="entypo-layout"></i>
							<span class="title">Quản lý xe</span>
						</a>
						<ul>
							<li>
								<a href="./car/list.html">
									<span class="title">Danh sách xe</span>
								</a>
							</li>
							<li>
								<a href="./car/add.html">
									<span class="title">Thêm xe mới</span>
								</a>
							</li>


						</ul>
					</li>
					<li class="has-sub">
						<a href="#">
							<i class="entypo-layout"></i>
							<span class="title">Quản lý thành viên</span>
						</a>
						<ul>
							<li>
								<a href="./user/list.html">
									<span class="title">Danh sách thành viên</span>
								</a>
							</li>
						</ul>
					</li>
					<li class="has-sub">
						<a href="#">
							<i class="entypo-layout"></i>
							<span class="title">Quản lý đơn hàng</span>
						</a>
						<ul>
							<li>
								<a href="./bill/list.html">
									<span class="title">Danh sách đơn hàng</span>
								</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
		{{{body}}} {{{_sections.scripts}}}
</body>

</html>