<!-- SECTION -->
<div class="section-3" >
  <div class="container">
    <div class="row" >
      <section class="carousel-3" >
        <div class="carousel-title ">
          <div class="transform-please-2 "> <span style="font-family: sans-serif; ">MỚI NHẤT</span> </div>
        </div>
        <ul>
        	{{#each moinhat}}
          <li><a href="xemchitiet.html"><img alt="alt" src="/img/{{HinhAnh}}" width="170" height="120"></a>
            <h3>{{TenSP}}</h3>
          </li>
          {{/each}}
        </ul>
      </section>

      <section class="carousel-3" style="margin-top: 35px">
        <div class="carousel-title ">
          <div class="transform-please-2 "> <span  style="font-family: sans-serif;" >PHỔ BIẾN</span> </div>
        </div>
        <ul>
          <li><a href="xemchitiet.html"><img alt="alt" src="./assets/user/media/product/small/item_01.jpg" width="170" height="120"></a>
            <h3>CHRYSLER MINIVANS</h3>
          </li>
          <li><a href="xemchitiet.html"><img alt="alt" src="./assets/user/media/product/small/item_02.jpg" width="170" height="120"></a>
            <h3>HYUNDAI SONATA </h3>
          </li>
          <li><a href="xemchitiet.html"><img alt="alt" src="./assets/user/media/product/small/item_03.jpg" width="170" height="120"></a>
            <h3>CHEVROLET VOLT</h3>
          </li>
          <li><a href="xemchitiet.html"><img alt="alt" src="./assets/user/media/product/small/item_04.jpg" width="170" height="120"></a>
            <h3>HONDA ACCORD</h3>
          </li>
          <li><a href="xemchitiet.html"><img alt="alt" src="./assets/user/media/product/small/item_05.jpg" width="170" height="120"></a>
            <h3>ALFA ROMEO BRERA</h3>
          </li>
          <li><a href="xemchitiet.html"><img alt="alt" src="./assets/user/media/product/small/item_01.jpg" width="170" height="120"></a>
            <h3>CHRYSLER MINIVANS</h3>
          </li>
          <li><a href="xemchitiet.html"><img alt="alt" src="./assets/user/media/product/small/item_02.jpg" width="170" height="120"></a>
            <h3>HYUNDAI SONATA </h3>
          </li>
          <li><a href="xemchitiet.html"><img alt="alt" src="./assets/user/media/product/small/item_03.jpg" width="170" height="120"></a>
            <h3>CHEVROLET VOLT</h3>
          </li>
          <li><a href="xemchitiet.html"><img alt="alt" src="./assets/user/media/product/small/item_04.jpg" width="170" height="120"></a>
            <h3>HONDA ACCORD</h3>
          </li>
          <li><a href="xemchitiet.html"><img  alt="alt" src="./assets/user/media/product/small/item_05.jpg" width="170" height="120"></a>
            <h3>ALFA ROMEO BRERA</h3>
          </li>
        </ul>
      </section>

      <section class="carousel-3" style="margin-top: 35px">
        <div class="carousel-title ">
          <div class="transform-please-2 "> <span style="font-family: sans-serif;">XEM NHIỀU</span> </div>
        </div>
        <ul>
          <li><a href="xemchitiet.html"><img alt="alt" src="./assets/user/media/product/small/item_01.jpg" width="170" height="120"></a>
            <h3>CHRYSLER MINIVANS</h3>
          </li>
          <li><a href="xemchitiet.html"><img alt="alt" src="./assets/user/media/product/small/item_02.jpg" width="170" height="120"></a>
            <h3>HYUNDAI SONATA </h3>
          </li>
          <li><a href="xemchitiet.html"><img alt="alt" src="./assets/user/media/product/small/item_03.jpg" width="170" height="120"></a>
            <h3>CHEVROLET VOLT</h3>
          </li>
          <li><a href="xemchitiet.html"><img alt="alt" src="./assets/user/media/product/small/item_04.jpg" width="170" height="120"></a>
            <h3>HONDA ACCORD</h3>
          </li>
          <li><a href="xemchitiet.html"><img alt="alt" src="./assets/user/media/product/small/item_05.jpg" width="170" height="120"></a>
            <h3>ALFA ROMEO BRERA</h3>
          </li>
          <li><a href="xemchitiet.html"><img alt="alt" src="./assets/user/media/product/small/item_01.jpg" width="170" height="120"></a>
            <h3>CHRYSLER MINIVANS</h3>
          </li>
          <li><a href="xemchitiet.html"><img alt="alt" src="./assets/user/media/product/small/item_02.jpg" width="170" height="120"></a>
            <h3>HYUNDAI SONATA </h3>
          </li>
          <li><a href="xemchitiet.html"><img alt="alt" src="./assets/user/media/product/small/item_03.jpg" width="170" height="120"></a>
            <h3>CHEVROLET VOLT</h3>
          </li>
          <li><a href="xemchitiet.html"><img alt="alt" src="./assets/user/media/product/small/item_04.jpg" width="170" height="120"></a>
            <h3>HONDA ACCORD</h3>
          </li>
          <li><a href="xemchitiet.html"><img  alt="alt" src="./assets/user/media/product/small/item_05.jpg" width="170" height="120"></a>
            <h3>ALFA ROMEO BRERA</h3>
          </li>
        </ul>
      </section>
    </div>
  </div>
</div>
<!--END--> 
