{{#section 'title'}} Giỏ hàng {{/section}} {{#section 'style'}}
<script type="text/css" src="/assets/user/css/profile.css"></script> {{/section}}


<main id="main" class="section">
    <div class="container">
        <div class="row">
            <!-- MAIN CONTENT -->
            <div class="col-xs-12 col-sm-12 col-md-9">
                <section class="main-content" role="main">
                    <ul class="list-group catalog-product-list">



                    </ul>
                </section>
            </div>
            <!-- // MAIN CONTENT -->
            <div class="space40 visible-xs"></div>
            <!-- SIDEBAR -->
            <div class="col-xs-12 col-sm-12 col-md-3">
                <aside class="sidebar">

                    <!-- ARCHIVE WIDGET -->
                    <div class="widget widget-filter">
                        <div class="block_content">

                            <div class="list-group-heading">
                                <span class="list-group-heading-inner">
                                    <span>Thông tin đơn hàng</span>
                                </span>
                            </div>

                            <div class="list-content">
                                <form action="/cart/addHoaDon" method="POST">
                                    <input type="text" id="TONGTIEN" name="tongtien" value="0" placeholder="" size="8">
                                    <span style="display:inline-block; width: 15px;"></span>
                                    <button id="btnTinhTong">Tạm tính</button>
                                    <br>
                                    <br> {{!--
                                    <button type="submit" class="widget-sub-title" style="color:white">Thanh toán</button> --}}

                                    <div class="btn">
                                        <a href="/cart" class="btn btn-primary btn-call">
                                            <span> THANH TOÁN </span>
                                        </a>
                                    </div>
                                </form>
                            </div>
                        </div>

                </aside>
                </div>

            </div>
        </div>
</main>


<ul class="pagination">
    <li class="disabled">
        <a href="#" aria-label="Previous">
            <span aria-hidden="true">«</span>
        </a>
    </li>
    {{#each page_numbers}} {{#if isCurPage}}
    <li class="active">
        <a href="javascript:;">{{value}}</a>
    </li>
    {{else}}
    <li>
        <a href="?page={{value}}">{{value}}</a>
    </li>
    {{/if}} {{/each}}
    <li>
        <a href="#" aria-label="Next">
            <span aria-hidden="true">»</span>
        </a>
    </li>
</ul>


{{#section 'scripts'}}
<script>
    let array = sessionStorage.getItem('list');
    let list = array.split(',').map(item => {
        if (item != "null") {
            var tmp = parseInt(item, 10);
            if (!isNaN(tmp)) {
                //console.log(tmp);
                return tmp;
            }
        }

    })

    $.ajax({
        type: "POST",
        url: '/cart/get',
        data: {
            list: list
        },
        dataType: 'json',
        success: function (data) {
            let a = $('.list-group')
            let listIten = '';
            let product;
            let i = 0;
            data.forEach(element => {
                //console.log(element);
                if (element.length > 0) {
                    let item = ` <li class="list-group-item    animated" data-animation="bounceInLeft">
                            <div class="media col-md-5  col-sm-5 col-xs-12">
                                <figure class="pull-left">
                                    <a href="#">
                                        <img width="369" height="200" src="/upload/product/${element[0]['HinhAnh']}" alt="alt">
                                    </a>
                                </figure>
                            </div>
                            <div class="col-md-7 col-xs-12  col-sm-7 list-group-item-content">
                                <h4 class="list-group-item-heading"> ${element[0]['TenHangXe']}
                                </h4>
                                <div class="price">
                                    <h2 class="GIA">${element[0]['GiaBan']}</h2>VND
                                </div>
                                <p class="list-group-item-text">${element[0]['ChiTiet']}</p>
                                
                                <div class="product-box">
                                    <div class="btn-group">
                                        <input type='number' class='SOLUONG' name="soluong" min="1" value='1' style="width: 60px;" />
                                    </div>
                                </div>

                            </div>
                        </li>`
                    a.append(item);

                }

            })
        }
    })


    $(document).ready(function () {

        $("#btnTinhTong").click(() => {
            let giatien = $(".GIA").toArray();
            let soluong = $(".SOLUONG").toArray();

            let sum = 0;
            for (let i = 0; i < soluong.length; i++) {
                sum = sum + $(soluong[i]).val() * parseInt($(giatien[i]).text());
            }
            $('#TONGTIEN').val(sum);
        });


        // Luu section arrID va arrSL
        setInterval(() => {
            let soluong = $(".SOLUONG").toArray();
            let arrSL = '';
            for (let i = 0; i < soluong.length; i++) {
                arrSL += $(soluong[i]).val() + ',';
            }
            sessionStorage.setItem('arrXe', list);
            sessionStorage.setItem('arrSL', arrSL);
        }, 200);


    });

    let arrXe = sessionStorage.getItem('arrXe');
    let arrSL = sessionStorage.getItem('arrSL');


    $.ajax({
        type: "POST",
        url: '/cart/addHoaDon',
        data: {
            arrXe: arrXe,
            arrSL: arrSL
        },
        dataType: 'text',
        success: function (data) {
            alert("Goi thanh cong data");
        }
    })
</script> {{/section}}