{{#section 'style'}}
<script type="text/css" src="/assets/user/css/profile.css"></script> {{/section}}
<main id="main" class="section">
    <div class="container">
        <div class="row">
            <!-- MAIN CONTENT -->
            <div class="col-xs-12 col-sm-12 col-md-9">
                <section class="main-content" role="main">
                    <ul class="list-group catalog-product-list">
                    </ul>
                </section>
            </div>
            <!-- // MAIN CONTENT -->
            <div class="space40 visible-xs"></div>
            <!-- SIDEBAR -->
            <div class="col-xs-12 col-sm-12 col-md-3">
                <aside class="sidebar">

                    <!-- ARCHIVE WIDGET -->
                    <div class="widget widget-filter">
                        <div class="block_content">


                            <div class="list-group-heading">
                                <span class="list-group-heading-inner">
                                    <span>Thông tin đơn hàng</span>
                                </span>
                            </div>

                            <div class="list-content">
                                <ul class="check-list">
                                    <li>
                                        <input type="text" placeholder="Nhập mã giảm giá" size="13">
                                        <button type="submit">Submit</button>
                                    </li>
                                    <li>
                                        <label>Phí giao hàng:
                                            <span style="display:inline-block; width: 15px;"></span>
                                            <input type="text" placeholder="$15" size="8">
                                        </label>
                                    </li>

                                    <li>
                                        <label>Tạm tính:
                                            <span style="display:inline-block; width: 46px;"></span>
                                            <input type="text" id="TONGTIEN" value="0" placeholder="" size="8">
                                        </label>
                                    </li>
                                </ul>


                            </div>

                            <div class="list-group-heading">
                                <span class="list-group-heading-inner">
                                    <span>Chọn hình thức thanh toán</span>
                                </span>
                            </div>
                            <div class="list-content">
                                <ul class="check-list">
                                    <li>
                                        <div class="roundedOne">
                                            <input type="checkbox" name="check" id="roundedOne" value="None">
                                            <label for="roundedOne"></label>
                                        </div>
                                        <label>Giao hàng tận nhà, trả tiền</label>
                                    </li>

                                    <li>
                                        <div class="roundedOne">
                                            <input type="checkbox" name="check" id="roundedOne2" value="None">
                                            <label for="roundedOne2"></label>
                                        </div>
                                        <label>Đến đại lý nhận xe</label>
                                        <label> và thanh toán bằng tiền mặt</label>
                                    </li>

                                    <li>
                                        <div class="roundedOne">
                                            <input type="checkbox" name="check" id="roundedOne2" value="None">
                                            <label for="roundedOne2"></label>
                                        </div>
                                        <label>Thanh toán thông qua</label>
                                        <label> tài khoản Internet banking</label>
                                    </li>
                                    <li>
                                        <div class="roundedOne">
                                            <input type="checkbox" name="check" id="roundedOne3" value="None">
                                            <label for="roundedOne3"></label>
                                        </div>
                                        <label>Thanh toán bằng thẻ </label>
                                        <label> quốc tế (VISA, Master Card,...)</label>
                                    </li>

                                </ul>
                            </div>


                            <h3 class="widget-sub-title">
                                <span>Thanh toán</span>
                            </h3>
                        </div>
                    </div>

                </aside>
            </div>

        </div>
    </div>
</main>




{{#section 'scripts'}}
<script>

    let array = sessionStorage.getItem('list');
    let list = array.split(',').map(item => {
        if (item != "null") {
            var tmp = parseInt(item, 10);
            if (!isNaN(tmp)) {
                console.log(tmp);
                return tmp;
            }
        }

    })
    $.ajax({
        type: "POST",
        url: '/cart/get',
        data: {
            list: list
        },
        dataType: 'json',
        success: function (data) {
            let a = $('.list-group')
            let listIten = '';
            let product;
            let i = 0;
            data.forEach(element => {
                console.log(element);
                if (element.length > 0) {
                    let item = ` <li class="list-group-item    animated" data-animation="bounceInLeft">
                            <div class="media col-md-5  col-sm-5 col-xs-12">
                                <figure class="pull-left">
                                    <a href="#">
                                        <img width="369" height="200" src="/upload/product/${element[0]['HinhAnh']}" alt="alt">
                                    </a>
                                </figure>
                            </div>
                            <div class="col-md-7 col-xs-12  col-sm-7 list-group-item-content">
                                <h4 class="list-group-item-heading"> ${element[0]['TenHangXe']}
                                    <span class="seller">By:
                                        <a href="#">AutoMaker</a>
                                    </span>
                                </h4>
                                <div class="price">
                                    <h2 class="GIA">${element[0]['GiaBan']}</h2>
                                </div>
                                <p class="list-group-item-text">${element[0]['ChiTiet']}</p>
                                <div class="product-box">
                                    <div class="btn-group">

                                        <a href="#l" class="btn btn-default btn-black ">
                                            <i class="fa fa-minus"></i>
                                        </a>
                                        <div class="btn btn-default">1</div>
                                        <a href="#" class="btn btn-default btn-black ">
                                            <i class="fa fa-plus"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </li>`
                    a.append(item);

                }

            })
        }
    })
    $(document).ready(function () {

        let a = $('h2.GIA');
        let sum = 0;
        for(i=0;i<a.length;i++){
            sum = parseInt(sum) + parseInt(a[i].innerText)
            $('#TONGTIEN').val(sum )
        } 
       

    })

</script> {{/section}}
