{{#section 'style'}}
<script type="text/css" src="/assets/user/css/profile.css"></script> {{/section}}


<main id="main" class="section">
    <div class="container">
        <div class="row">
            <!-- MAIN CONTENT -->
            <div class="col-xs-12 col-sm-12 col-md-9">
                <section class="main-content" role="main">
                    <ul class="list-group catalog-product-list">



                    </ul>
                </section>
            </div>
            <!-- // MAIN CONTENT -->
            <div class="space40 visible-xs"></div>
            <!-- SIDEBAR -->
            <div class="col-xs-12 col-sm-12 col-md-3">
                <aside class="sidebar">

                    <!-- ARCHIVE WIDGET -->
                    <div class="widget widget-filter">
                        <div class="block_content">

                            <div class="list-group-heading">
                                <span class="list-group-heading-inner">
                                    <span>Thông tin đơn hàng</span>
                                </span>
                            </div>

                            <div class="list-content">
                                <ul class="check-list">
                                    <li>
                                        <input type="text" placeholder="Nhập mã giảm giá" size="13">
                                        <button type="submit">Submit</button>
                                    </li>
                                    <li>
                                        <label>Phí giao hàng:
                                            <span style="display:inline-block; width: 15px;"></span>
                                            <input type="text" placeholder="$15" size="8">
                                        </label>
                                    </li>

                                    <li>
                                        <input type="text" id="TONGTIEN" value="0" placeholder="" size="8">
                                        <span style="display:inline-block; width: 5px;"></span>
                                        <button id="btnTinhTong">Tạm tính</button>
                                    </li>
                                </ul>


                            </div>

                            <div class="list-group-heading">
                                <span class="list-group-heading-inner">
                                    <span>Chọn hình thức thanh toán</span>
                                </span>
                            </div>
                            <div class="list-content">
                                <ul class="check-list">
                                    <li>
                                        <div class="roundedOne">
                                            <input type="checkbox" name="check" id="roundedOne" value="None">
                                            <label for="roundedOne"></label>
                                        </div>
                                        <label>Giao hàng tận nhà, trả tiền</label>
                                    </li>

                                    <li>
                                        <div class="roundedOne">
                                            <input type="checkbox" name="check" id="roundedOne2" value="None">
                                            <label for="roundedOne2"></label>
                                        </div>
                                        <label>Đến đại lý nhận xe</label>
                                        <label> và thanh toán bằng tiền mặt</label>
                                    </li>

                                    <li>
                                        <div class="roundedOne">
                                            <input type="checkbox" name="check" id="roundedOne2" value="None">
                                            <label for="roundedOne2"></label>
                                        </div>
                                        <label>Thanh toán thông qua</label>
                                        <label> tài khoản Internet banking</label>
                                    </li>
                                    <li>
                                        <div class="roundedOne">
                                            <input type="checkbox" name="check" id="roundedOne3" value="None">
                                            <label for="roundedOne3"></label>
                                        </div>
                                        <label>Thanh toán bằng thẻ </label>
                                        <label> quốc tế (VISA, Master Card,...)</label>
                                    </li>

                                </ul>
                            </div>


                            <h3 class="widget-sub-title">
                                <span>Thanh toán</span>
                            </h3>
                        </div>
                    </div>

                </aside>
            </div>

        </div>
    </div>
</main>


<ul class="pagination">
    <li class="disabled">
        <a href="#" aria-label="Previous">
            <span aria-hidden="true">«</span>
        </a>
    </li>
    {{#each page_numbers}} {{#if isCurPage}}
    <li class="active">
        <a href="javascript:;">{{value}}</a>
    </li>
    {{else}}
    <li>
        <a href="?page={{value}}">{{value}}</a>
    </li>
    {{/if}} {{/each}}
    <li>
        <a href="#" aria-label="Next">
            <span aria-hidden="true">»</span>
        </a>
    </li>
</ul>


{{#section 'scripts'}}
<script>
    let array = sessionStorage.getItem('list');
    let list = array.split(',').map(item => {
        if (item != "null") {
            var tmp = parseInt(item, 10);
            if (!isNaN(tmp)) {
                //console.log(tmp);
                return tmp;
            }
        }

    })

    $.ajax({
        type: "POST",
        url: '/cart/get',
        data: {
            list: list
        },
        dataType: 'json',
        success: function (data) {
            let a = $('.list-group')
            let listIten = '';
            let product;
            let i = 0;
            data.forEach(element => {
                //console.log(element);
                if (element.length > 0) {
                    let item = ` <li class="list-group-item    animated" data-animation="bounceInLeft">
                            <div class="media col-md-5  col-sm-5 col-xs-12">
                                <figure class="pull-left">
                                    <a href="#">
                                        <img width="369" height="200" src="/upload/product/${element[0]['HinhAnh']}" alt="alt">
                                    </a>
                                </figure>
                            </div>
                            <div class="col-md-7 col-xs-12  col-sm-7 list-group-item-content">
                                <h4 class="list-group-item-heading"> ${element[0]['TenHangXe']}
                                </h4>
                                <div class="price">
                                    <h2 class="GIA">${element[0]['GiaBan']}</h2>VND
                                </div>
                                <p class="list-group-item-text"> Lorem ipsum dolor sit amet, iusto elitr an est. Sea graeco alterum an. Appareat sensibus
                                    vis ei, iusto commune mentitum no vim, has graeco noluisse conclusionemque ut. Ut sumo
                                    audiam impedit nec, epicuri lobortis pro te, qui ad possim molestie. Cu doming consetetur
                                    ius. </p>
                                <div class="product-box">
                                    <div class="btn-group">
                                        <br><br>
                                        <input type='number' class='SOLUONG' name="soluong" min="1" value='1' style="width: 60px;" />
                                    </div>
                                </div>
                            </div>
                        </li>`
                    a.append(item);

                }

            })
        }
    })


    $(document).ready(function () {
        setTimeout(() => {
            let giatien = $(".GIA").toArray();
            let soluong = $(".SOLUONG").toArray();
            //let giatien = a;
            // giatien = parseInt(giatien[0]);
            //alert(a[0].textContent);
            //alert(a[1].textContent);

            let sum = 0;
            for (i = 0; i < giatien.length; i++) {
                sum = sum + parseInt(soluong[i].textContent) * parseInt(giatien[i].textContent);

            }
            //$('#TONGTIEN').val(sum);
            //alert(sum);
        }, 10);

        $("#btnTinhTong").click(() => {
            let giatien = $(".GIA").toArray();
            //let soluong = $(".SOLUONG").val().toArray();
            //alert(soluong);
            var soluong = $("input[name*='soluong']").toArray();

            //alert(soluong[0].val());
            let sum = 0;
            for (i = 0; i < giatien.length; i++) {
                sum = sum + parseInt(giatien[i].textContent);
            }
            $('#TONGTIEN').val(sum);
        });
    });
</script> {{/section}}